app = "zentrya-api"
primary_region = "jnb"

[build]

[env]
  PORT = "8080"
  LOG_LEVEL = "info"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

  [[http_service.checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "25s"
    method = "GET"
    path = "/health"

[[vm]]
  memory = "1gb"
  cpus = 1

[deploy]
  release_command = "alembic upgrade head"
